<% if(subdata.statusSignup != '') { %>
<p>
    <%= subdata.statusSignup %>
</p>
<% } %>
<form action="daftar" method="POST"> 
        <p><input type="text" name="fullname" id="">nama lengkap</p>
        <p><input type="text" name="username" id="">nama user</p>
        <p><input type="password" name="paswd" id="">password</p>
        <p><input type="submit" value="Signup"></p>
    </form>
